---
title: "Call 07852 271433"
layout: "base.hbs"
---
<main>
<section class="hero">
    <div class="content-inner">
        <div class="brand">
            <span>{{ title }}</span>
        </div>
        <p>All Genesis Driving School students are provided with <strong>FREE, unlimited access to Theory Test
                                                                    Pro</strong> and all the official questions from the DSA - including all new changes.</p>
    </div>
</section>

    <section class="grid-section">

            <div class="section-panel-half">
                <div class="content flex-column">
                    <h2>Driving Lessons</h2>
                    <p>School, college or work pick-ups no problem.</p>
                    <div class="grid">
                        {{#each lessons.hours }}
                            <h3>{{ name }}</h3>
                            <h3 class="txt-right">{{ price }}</h3>
                            <div class="col-span-2">{{ desc }}</div>
                        {{/each}}
                    </div>
                    <a class="btn" href="tel:+447852271433">CALL 07852 271433</a>
                </div>
            </div>
            <div class="section-panel-half">
                <div class="content full-width flex-column">
                    <h2>Driving Courses</h2>
                    <p>School, college or work pick-ups no problem.</p>
                    <div class="grid">
                        {{#each lessons.courses }}
                            <h3>{{ name }}</h3>
                            <h3 class="txt-right">{{ price }}</h3>
                            <div class="col-span-2">{{ desc }}</div>
                        {{/each}}
                    </div>
                    <a class="btn" style="margin-top: auto;" href="tel:+447852271433">CALL 07852 271433</a>
                </div>

            </div>

    </section>
</main>
